  <!--   Edit Modal Windows   -->

  <div class="modal fade" id="model_Modify" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
          <h4 class="modal-title text-warning text-uppercase">
            <i class="material-icons">{{$ctrl.data.data.adjust?'transform':'add_shopping_cart'}}</i>
            Modify {{$ctrl.data.data.adjust?'Adjustment':'Expense'}}</h4>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label class="control-label">From Account</label>
              <input id="m_fromAccount" ng-model="$ctrl.data.data.fromAc.name" type="text" class="form-control" data-provide="typeahead" autocomplete="off">
            </div>
            <div ng-show="$ctrl.data.data.adjust" class="form-group">
              <label class="control-label">To Account</label>
              <input id="m_toAccount" ng-model="$ctrl.data.data.toAc.name" type="text" class="form-control" data-provide="typeahead" autocomplete="off">
            </div>
            <div ng-show="!$ctrl.data.data.adjust" class="form-group">
              <label class="control-label">Category</label>
              <input id="m_category" ng-model="$ctrl.data.data.cat.name" type="text" class="form-control" data-provide="typeahead" autocomplete="off">
            </div>
            <div ng-show="!$ctrl.data.data.adjust" class="form-group">
              <label class="control-label">Bill</label>
              <select ng-model="$ctrl.data.data.bill" ng-options="bill as bill.name for bill in $ctrl.data.data.bills track by bill.id" class="form-control"></select>
            </div>
            <div class="form-group">
              <label class="control-label">Description</label>
                <input id="m_description" ng-model="$ctrl.data.data.desc" type="text" class="form-control" data-provide="typeahead" autocomplete="off">
            </div>
            <div class="form-group">
              <label class="control-label">Amount</label>
              <input ng-model="$ctrl.data.data.amt" xx-amount type="text" class="form-control">
            </div>
            <div class="form-group">
              <label class="control-label">Date</label>
              <input ng-model="$ctrl.data.data.transDtTxt" type="text" class="form-control" data-provide="datepicker">
            </div>
            <div class="form-group">
              <div ng-show="!$ctrl.data.data.adjust">
                <label> <input type="checkbox" ng-model="$ctrl.data.data.adhoc" class="form-control">Adhoc</label>
              </div>
              <button type="button" ng-click="$ctrl.saveExp()" class="btn btn-warning pull-right" rel="tooltip" title="Save"><i class="material-icons">save</i></button>
            </div>
          </form>
        </div>
        <div class="modal-footer"></div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="model_Delete" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
          <h4 class="modal-title text-danger text-uppercase">
            <i class="material-icons">{{$ctrl.data.data.adjust?'transform':'add_shopping_cart'}}</i>
            Delete {{$ctrl.data.data.adjust?'Adjustment':'Expense'}}</h4>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label class="control-label">From Account</label>
              <input ng-model="$ctrl.data.data.fromAc.name" type="text" class="form-control" disabled="disabled">
            </div>
            <div ng-show="$ctrl.data.data.adjust" class="form-group">
              <label class="control-label">To Account</label>
              <input ng-model="$ctrl.data.data.toAc.name" type="text" class="form-control" disabled="disabled">
            </div>
            <div ng-show="!$ctrl.data.data.adjust" class="form-group">
              <label class="control-label">Category</label>
              <input ng-model="$ctrl.data.data.cat.name" type="text" class="form-control" disabled="disabled">
            </div>
            <div class="form-group">
              <label class="control-label">Description</label>
              <input ng-model="$ctrl.data.data.desc" type="text" class="form-control" disabled="disabled">
            </div>
            <div class="form-group">
              <label class="control-label">Amount</label>
              <input ng-model="$ctrl.data.data.amt" xx-amount type="text" class="form-control" disabled="disabled">
            </div>
            <div class="form-group">
              <label class="control-label">Date</label>
              <input ng-model="$ctrl.data.data.transDtTxt" type="text" class="form-control" disabled="disabled">
            </div>
            <div class="form-group">
              <div ng-show="!$ctrl.data.data.adjust">
                <label> <input type="checkbox" ng-model="$ctrl.data.data.adhoc" class="form-control" disabled="disabled">Adhoc</label>
              </div>
              <button type="button" ng-click="$ctrl.deleteExp()" class="btn btn-danger pull-right" rel="tooltip" title="Delete Expense"><i class="material-icons">delete</i></button>
            </div>
          </form>
        </div>
        <div class="modal-footer"></div>
      </div>
    </div>
  </div>
