          <!-- Expense List -->
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header" data-background-color="blue">
                  <h4 class="title text-uppercase">Expense List</h4>
                </div>
                <div class="card-content table-responsive">
                  <table class="table table-hover">
                    <thead class="text-warning text-uppercase">
                      <tr>
                        <th>&nbsp;</th>
                        <th>Entry Date</th>
                        <th>Trans</th>
                        <th>Category</th>
                        <th>Description</th>
                        <th class="text-right">Amount</th>
                        <th class="text-right">From A/C</th>
                        <th class="text-right">From $ -></th>
                        <th class="text-right">From $</th>
                        <th class="text-right">To A/C</th>
                        <th class="text-right">To $ -></th>
                        <th class="text-right">To $</th>
                        <th>&nbsp;</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="row in $ctrl.data.pgData.rows">
                        <td class="td-actions text-right">
                          <button type="button" ng-click="$ctrl.showModifyExpense(row.id)" rel="tooltip" title="Edit" class="btn btn-warning btn-simple btn-xs">
                            <i class="material-icons">mode_edit</i>
                          </button>
                          <button type="button" ng-click="$ctrl.showDeleteExpense(row.id)" rel="tooltip" title="Delete" class="btn btn-danger btn-simple btn-xs">
                            <i class="material-icons">delete</i>
                          </button>
                          <button type="button" ng-click="$ctrl.changeSequence(row.id,-1)" rel="tooltip" title="Move Up" class="btn btn-primary btn-simple btn-xs">
                            <i class="material-icons">arrow_upward</i>
                          </button>
                          <button type="button" ng-click="$ctrl.changeSequence(row.id,1)" rel="tooltip" title="Move Down" class="btn btn-primary btn-simple btn-xs">
                            <i class="material-icons">arrow_downward</i>
                          </button>
                        </td>
                        <td>{{row.entryDt | date:'dd-MMM-yy h:mm a'}}</td>
                        <td>{{row.transDt | date:'dd-MMM'}}</td>
                        <td>{{row.cat}}</td>
                        <td>{{row.desc}}</td>
                        <td class="text-right">{{row.amt | currency:''}}</td>
                        <td class="text-right">{{row.fromAc}}</td>
                        <td class="text-right">{{row.fromFrom | currency:''}}</td>
                        <td class="text-right">{{row.fromTo | currency:''}}</td>
                        <td class="text-right">{{row.toAc}}</td>
                        <td class="text-right">{{row.toFrom | currency:''}}</td>
                        <td class="text-right">{{row.toTo | currency:''}}</td>
                        <td class="td-actions text-right">
                          <span rel="tooltip" title="{{row.adhoc?'Adhoc Expense':row.adjust?'Adjustment':''}}" class="btn btn-primary btn-simple btn-xs no-btn">&nbsp;
                            <i ng-if="row.adhoc" class="material-icons">card_giftcard</i><i ng-if="row.adjust" class="material-icons">transform</i>
                          </span>
                        </td>
                      </tr>
                    </tbody>
                    <tfoot>
                      <tr>
                        <td colspan="5">&nbsp;</td>
                        <td class="text-right"><strong>{{$ctrl.data.total | currency:''}}</strong></td>
                        <td colspan="4">&nbsp;</td>
                        <td>
                          <div class="stats">
                            <button ng-if="$ctrl.data.filterApplied" ng-click="$ctrl.clearFilter()" type="button" rel="tooltip" title="Clear Filter" class="btn btn-primary btn-xs">
                              <i class="material-icons">filter_list</i>
                            </button>
                          </div>
                        </td>
                        <td colspan="2">
                          <div class="stats">
                            <button type="button" ng-disabled="!$ctrl.hasPrevPage()" ng-click="$ctrl.prevPage()" class="btn btn-primary btn-xs">
                              <i class="material-icons">skip_previous</i>
                            </button>
                            <button type="button" ng-disabled="!$ctrl.hasNextPage()" ng-click="$ctrl.nextPage()" class="btn btn-primary btn-xs">
                              <i class="material-icons">skip_next</i>
                            </button>
                          </div>
                        </td>
                      </tr>
                    </tfoot>
                  </table>
                </div>
              </div>
            </div>
          </div>
