          <!-- Bills Card -->
            <div class="col-md-6">
              <div class="card card-nav-tabs">
                <div class="card-header" data-background-color="purple">
                  <div class="nav-tabs-navigation">
                    <div class="nav-tabs-wrapper">
                      <span class="nav-tabs-title text-uppercase">Bills</strong></span>
                      <ul class="nav nav-tabs" data-tabs="tabs">
                        <li class="active"><a href="" data-toggle="tab"> <i class="material-icons">flag</i>All
                          <div class="ripple-container"></div></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="card-content">
                  <div class="tab-content">
                    <div class="tab-pane active">
                      <table class="table">
                        <thead class="text-warning text-uppercase">
                          <tr>
                            <th>&nbsp;</th>
                            <th>Account</th>
                            <th>Bill Date</th>
                            <th>Bill Amount</th>
                            <th>Due Date</th>
                            <th>Paid Date</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr ng-repeat="row in $ctrl.data.rows">
                            <td class="td-actions text-right">
                              <button type="button" ng-click="$ctrl.filterExp(row.id)" rel="tooltip" title="View Expenses" class="btn btn-primary btn-simple btn-xs">
                                <i class="material-icons">list</i>
                              </button>
                            </td>
                            <td>{{row.acct.name}}</td>
                            <td>{{row.billDt | date:'dd-MMM-yy'}}</td>
                            <td>{{row.billAmt | currency:''}}</td>
                            <td>{{row.dueDt | date:'dd-MMM-yy'}}</td>
                            <td ng-show="!row.paid">
                              <button type="button" ng-click="$ctrl.showBillPay(row.id)" rel="tooltip" title="Pay Now" class="btn btn-primary btn-xs">
                                <i class="material-icons">payment</i>
                              </button>
                            </td>
                            <td ng-show="row.paid">{{row.paidDt | date:'dd-MMM-yy'}}</td>
                          </tr>
                          <tr>
                            <td colspan="4">
                              <div class="stats">
                                <button type="button" class="btn btn-simple btn-xs">
                                  <i class="material-icons">schedule</i>
                                </button>
                              </div>
                            </td>
                            <td>
                              <div class="stats">
                                <button type="button" ng-show="$ctrl.data.filterApplied" ng-click="$ctrl.clearFilter()" rel="tooltip" title="Clear Filter" class="btn btn-primary btn-xs">
                                  <i class="material-icons">filter_list</i>
                                </button>
                              </div>
                            </td>
                            <td>
                              <div class="stats">
                                <button type="button" ng-show="$ctrl.hasPrevPage()" ng-click="$ctrl.prevPage()" class="btn btn-primary btn-xs">
                                  <i class="material-icons">skip_previous</i>
                                </button>
                                <button type="button" ng-show="$ctrl.hasNextPage()" ng-click="$ctrl.nextPage()" class="btn btn-primary btn-xs">
                                  <i class="material-icons">skip_next</i>
                                </button>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
