          <!-- Bills Card -->
            <div ng-show="$ctrl.data.showBills" class="col-md-6">
              <div class="card card-nav-tabs">
                <div class="card-header" data-background-color="purple">
                  <div class="nav-tabs-navigation">
                    <div class="nav-tabs-wrapper">
                      <span class="nav-tabs-title text-uppercase">Bills</strong></span>
                      <ul class="nav nav-tabs" data-tabs="tabs">
                        <li class="active"><a href="" data-toggle="tab"> <i class="material-icons">flag</i>All
                          <div class="ripple-container"></div></a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="card-content">
                  <div class="tab-content">
                    <div class="tab-pane active">
                      <table class="table">
                        <thead class="text-warning text-uppercase">
                          <tr>
                            <th>&nbsp;</th>
                            <th>Account</th>
                            <th>Bill Date</th>
                            <th class="text-right">Bill Amount</th>
                            <th class="text-right">Balance</th>
                            <th class="text-right">Due Date</th>
                            <th>Payment</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr ng-repeat="bill in $ctrl.data.pgData.rows">
                            <td class="td-actions text-right">
                              <button type="button" ng-click="$ctrl.filterExpenses(bill.id)" tooltip rel="tooltip" title="View Expenses" class="btn btn-primary btn-simple btn-xs" ng-class="{'btn-warning': ($ctrl.data.filterBy === bill.id)}">
                                <i class="material-icons">list</i>
                              </button>
                            </td>
                            <td>{{bill.account.name}}</td>
                            <td>{{bill.billDt | date:'dd-MMM-yy'}}</td>
                            <td class="text-right">{{bill.billAmt | currency:''}}</td>
                            <td class="text-right">{{bill.billBalance | currency:''}}</td>
                            <td class="text-right">{{bill.dueDt | date:'dd-MMM-yy'}}</td>
                            <td ng-if="bill.paid">{{bill.billPaidDt | date:'dd-MMM-yy'}}</td>
                            <td ng-if="!bill.paid" class="td-actions">
                              <span ng-click="$ctrl.showBillPay(bill.id)" class="btn btn-primary btn-xs">
                                <i class="material-icons">payment</i>
                              </span>
                            </td>
                          </tr>
                          <tr>
                            <td colspan="4">
                              <div class="stats">
                                <button type="button" class="btn btn-simple btn-xs">
                                  <i class="material-icons">schedule</i>
                                </button>
                              </div>
                            </td>
                            <td><span ng-if="$ctrl.data.loading" class="btn btn-simple btn-xs no-btn"><img alt="loading..." style="width:20px;height:20px;" ng-src="loading.gif"></span>&nbsp;</td>
                            <td>
                              <div class="stats">
                                <button type="button" ng-if="$ctrl.data.filterApplied" ng-click="$ctrl.clearFilter()" tooltip rel="tooltip" title="Clear Filter" class="btn btn-primary btn-xs">
                                  <i class="material-icons">filter_list</i>
                                </button>
                              </div>
                            </td>
                            <td>
                              <div class="stats">
                                <button type="button" ng-disabled="!$ctrl.hasNextPage()" ng-click="$ctrl.nextPage()" class="btn btn-primary btn-xs pull-right">
                                  <i class="material-icons">skip_next</i>
                                </button>
                                <button type="button" ng-disabled="!$ctrl.hasPrevPage()" ng-click="$ctrl.prevPage()" class="btn btn-primary btn-xs pull-right">
                                  <i class="material-icons">skip_previous</i>
                                </button>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
