  <div class="wrapper">
    <div class="main-panel">
      <!-- Nav panel -->
      <etmenu></etmenu>

      <!-- Summary Content -->
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header" data-background-color="green">
                  <h4 class="title text-uppercase">Monthly Summary</h4>
                </div>
                <div class="card-content table-responsive">
                  <table class="table table-hover">
                    <thead class="text-uppercase">
                      <tr class="text-warning">
                        <th class="text-right">&nbsp;</th>
                        <th class="text-right">&nbsp;</th>
                        <th class="text-right">&nbsp;</th>
                        <th ng-repeat="h1 in $ctrl.data.pgData.header" class="text-right"><strong>{{h1.mth}}</strong></th>
                      </tr>
                      <tr class="text-warning">
                        <th class="text-right">&nbsp;</th>
                        <th class="text-right">&nbsp;</th>
                        <th class="text-right">&nbsp;</th>
                        <th ng-repeat="h2 in $ctrl.data.pgData.header2 track by $index" ng-click="$ctrl.listExpenses(0, $index, $ctrl.data.pgData.header[$index].aggr)" class="text-right sumTotalCell">
                          <strong>{{$ctrl.data.pgData.header2[$index] | currency}}</strong>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="row in $ctrl.data.pgData.rows">
                        <td class="td-actions text-right">
                          <a class="btn btn-primary btn-simple btn-sm no-btn"><i class="material-icons">{{row.cat.icon}}</i></a></td>
                        <td>{{row.cat.main}}</td>
                        <td>{{row.cat.sub}}</td>
                        <td ng-repeat="col in row.cols track by $index" ng-click="$ctrl.listExpenses(row.cat.id, $index, $ctrl.data.pgData.header[$index].aggr)" class="text-right sumDetailCell">{{row.cols[$index] | currency}}</td>
                      </tr>
                    </tbody>
                    <tfoot>
                      <tr>
                        <td colspan="2">&nbsp;</td>
                        <td>
                          <div class="stats">
                            <button type="button" ng-disabled="!$ctrl.hasPrevPage()" ng-click="$ctrl.prevPage()" class="btn btn-primary btn-xs">
                              <i class="material-icons">skip_previous</i>
                            </button>
                            <button type="button" ng-disabled="!$ctrl.hasNextPage()" ng-click="$ctrl.nextPage()" class="btn btn-primary btn-xs">
                              <i class="material-icons">skip_next</i>
                            </button>
                          </div>
                        </td>
                        <td colspan="2">
                          <div class="row">
                            <div class="col-md-4">
                              <div class="form-group">
                                <label class="control-label">Adhoc</label>
                                <input type="checkbox" ng-model="$ctrl.data.adhoc" ng-click="$ctrl.loadSummary()" name="adhoc" class="form-control">
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-group">
                                <label class="control-label">Regular</label>
                                <input type="checkbox" ng-model="$ctrl.data.regular" ng-click="$ctrl.loadSummary()" name="regular" class="form-control">
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-group">
                                <label class="control-label">Forecast</label>
                                <input type="checkbox" ng-model="$ctrl.data.forecast" ng-click="$ctrl.loadSummary()" name="forecast" class="form-control">
                              </div>
                            </div>
                          </div>
                        </td>
                        <td colspan="11">&nbsp;</td>
                      </tr>
                    </tfoot>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>