          <!-- Add Expense -->
            <div ng-show="$ctrl.data.showAdd" class="col-md-6">
              <div class="card card-nav-tabs">
                <div class="card-header" data-background-color="green">
                  <div class="nav-tabs-navigation">
                    <div class="nav-tabs-wrapper">
                      <span class="nav-tabs-title text-uppercase">Add</span>
                      <ul class="nav nav-tabs" data-tabs="tabs">
                        <li class="active">
                          <a href="" ng-click="$ctrl.switchTab('expense')" data-toggle="tab"> 
                            <i class="material-icons">add_shopping_cart</i>Expense
                            <div class="ripple-container"></div>
                          </a>
                        </li>
                        <li class="">
                          <a href="" ng-click="$ctrl.switchTab('adjustment')" data-toggle="tab">
                            <i class="material-icons">transform</i>Adjustment
                            <div class="ripple-container"></div>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="card-content">
                  <div class="tab-content">
                    <div class="tab-pane active" id="{{$ctrl.data.tabs.expense}}">
                      <form>
                        <div class="row">
                          <div class="col-md-4">
                            <div class="form-group label-floating">
                              <label class="control-label">From Account</label>
                              <input type="text" ng-model="$ctrl.data.fromAc.name" id="exp_fromAccount" class="form-control" data-provide="typeahead" autocomplete="off">
                            </div>
                          </div>
                          <div class="col-md-5">
                            <div class="form-group label-floating">
                              <label class="control-label">Category</label> 
                              <input type="text" ng-model="$ctrl.data.cat.name" id="exp_category" class="form-control" data-provide="typeahead" autocomplete="off">
                            </div>
                          </div>
                          <div class="col-md-1">
                            <div>&nbsp;</div>
                          </div>
                          <div class="col-md-1">
                            <div class="row">
                              <div class="col-md-8">
                                <label>Adhoc</label>
                                <input type="checkbox" ng-model="$ctrl.data.adhoc" class="form-control">
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-4">
                            <div class="form-group label-floating">
                              <label class="control-label">Description</label> 
                              <input type="text" ng-model="$ctrl.data.description" id="exp_description" class="form-control" data-provide="typeahead" autocomplete="off">
                            </div>
                          </div>
                          <div class="col-md-2">
                            <div class="form-group label-floating">
                              <label class="control-label">Amount</label>
                              <input type="text" ng-model="$ctrl.data.amt" xx-amount class="form-control">
                            </div>
                          </div>
                          <div class="col-md-3">
                            <div class="form-group label-floating">
                              <label class="control-label">Date</label>
                              <input type="text" ng-model="$ctrl.data.transDt" xx-date class="form-control" data-provide="datepicker">
                            </div>
                          </div>
                          <div class="col-md-3">
                            <div class="form-group">
                              <button type="button" ng-click="$ctrl.addExpense()" tooltip rel="tooltip" title="Add Expense" class="btn btn-success btn-lg pull-right">
                                <i class="material-icons">add</i>
                              </button>
                            </div>
                          </div>
                        </div>
                        <div class="clearfix"></div>
                      </form>
                    </div>
                    <div class="tab-pane" id="{{$ctrl.data.tabs.adjustment}}">
                      <form>
                        <div class="row">
                          <div class="col-md-4">
                            <div class="form-group label-floating">
                              <label class="control-label">From Account</label>
                              <input type="text" ng-model="$ctrl.data.fromAc.name" id="adj_fromAccount" class="form-control" data-provide="typeahead" autocomplete="off">
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group label-floating">
                              <label class="control-label">To Account</label>
                              <input type="text" ng-model="$ctrl.data.toAc.name" id="adj_toAccount" class="form-control" data-provide="typeahead" autocomplete="off">
                            </div>
                          </div>
                          <div class="col-md-4">&nbsp;</div>
                        </div>
                        <div class="row">
                          <div class="col-md-4">
                            <div class="form-group label-floating">
                              <label class="control-label">Description</label>
                              <input type="text" ng-model="$ctrl.data.description" id="adj_description" class="form-control" data-provide="typeahead" autocomplete="off">
                            </div>
                          </div>
                          <div class="col-md-2">
                            <div class="form-group label-floating">
                              <label class="control-label">Amount</label>
                              <input type="text" ng-model="$ctrl.data.amt" xx-amount class="form-control">
                            </div>
                          </div>
                          <div class="col-md-3">
                            <div class="form-group label-floating">
                              <label class="control-label">Date</label>
                              <input type="text" ng-model="$ctrl.data.transDt" xx-date class="form-control" data-provide="datepicker">
                            </div>
                          </div>
                          <div class="col-md-3">
                            <div class="form-group">
                              <button type="button" ng-click="$ctrl.addExpense()" tooltip rel="tooltip" title="Add Adjustment" class="btn btn-success btn-lg pull-right">
                                <i class="material-icons">add</i>
                              </button>
                            </div>
                          </div>
                        </div>
                        <div class="clearfix"></div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
