      <!-- Nav panel -->
      <nav class="navbar navbar-transparent navbar-absolute">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse">
              <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
            </button>
          </div>
          <div class="collapse navbar-collapse">
            <div class="navbar-left">
              <a href="#!/dashboard" class="btn btn-primary"> <i class="material-icons">dashboard</i> Dashboard
              </a>
            </div>
            <div class="navbar-left">
              <a href="#!/summary" class="btn btn-success"> <i class="material-icons">content_copy</i> Monthly Summary
              </a>
            </div>
            <div class="navbar-left">
              <a href="#!/search" class="btn btn-google"> <i class="material-icons">search</i> Search
              </a>
            </div>
            <div class="navbar-right">
              <span class="btn btn-success"> 
                <i ng-show="$ctrl.data.city.curr === $ctrl.data.CURRENCY.USD" class="material-icons">attach_money</i> 
                <i ng-show="$ctrl.data.city.curr === $ctrl.data.CURRENCY.INR" class="material-icons">euro_symbol</i>
              </span>
            </div>
            <div class="dropdown navbar-right">
              <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown"> 
              <span>{{$ctrl.data.city.name}}</span> <b
                class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li ng-repeat="city in $ctrl.data.cities">
                  <a ng-click="$ctrl.changeCity(city.id)">{{city.name}}</a>
                </li>
              </ul>
            </div>
            <div class="navbar-right">
              <a ng-show="$ctrl.data.showButtons" ng-click="$ctrl.toggleMoreAccounts()" class="btn btn-primary"> 
                <i ng-show="!$ctrl.data.showingMoreAccounts" class="material-icons">expand_more</i>
                <i ng-show="$ctrl.data.showingMoreAccounts" class="material-icons">expand_less</i>
              </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
            <div class="navbar-right">
              <a ng-show="$ctrl.data.showButtons" ng-click="$ctrl.toggleChart()" class="btn btn-warning"> 
                <i ng-show="$ctrl.data.showingChart" class="material-icons">add</i>
                <i ng-show="!$ctrl.data.showingChart" class="material-icons">insert_chart</i>
              </a>
            </div>
          </div>
        </div>
      </nav>
